{{#> sidebar }}
<h1>{{title}}</h1>
<form action="/baja-alumno" method="post">
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Correo Institucional</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail" name="email" required>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Dar de baja</button>
</form>
{{/sidebar}}