{{#> sidebar }}
<h1 class="text-center">¡Bienvenido a la plataforma UAL!</h1>
<div class="d-flex p-2 justify-content-center flex-column align-items-center" style="max-width:800px; text-align: center; margin: 0 auto">
  <img width="580px" height="390px" style="border-radius: 8px;"  src="/img/UALSquare.jpg" alt="UAL">
  {{#if type.student}}
  <h3 class="mt-4">Como estudiante, aquí podrás visualizar tus horarios de clase del área de ingenierías.</h3>
  {{/if}}
  {{#if type.teacher}}
  <h3 class="mt-4">Como maestro, aquí podrás visualizar las clases que impartiras en el área de ingenierías.</h3>
  {{/if}}
  {{#if type.coordinator}}
  <h3 class="mt-4">Como coordinador, aquí podrás asignar los horarios tanto para maestros como estudiantes.</h3>
  {{/if}}
</div>

{{/sidebar}}