{{#> sidebar }}
<h1 class="text-center">Pagina principal - Bienvenido!</h1>
<div class="d-flex p-2 justify-content-center flex-column align-items-center" style="max-width:800px; text-align: center; margin: 0 auto">
  <img style="border-radius: 4px;"  src="/img/ualsquare.png" alt="UAL">
  <h3 class="mt-4">Aqui podrás realizar y visualizar cierta información dependiendo del tipo de tu cuenta, ya seas coordinador, estudiante o maestro!</h3>
</div>

{{/sidebar}}