{{#> sidebar }}
<h1 class="text-center">¡Bienvenido a la plataforma UAL!</h1>
<div class="d-flex p-2 justify-content-center flex-column align-items-center" style="max-width:800px; text-align: center; margin: 0 auto">
  <img width="650px" style="border-radius: 8px;"  src="https://www.ual.mx/wp-content/uploads/ual-universidad-autonoma-de-la-laguna-estudio-2.jpg" alt="UAL">
  <h3 class="mt-4">Aqui podrás visualizar tus horarios del área de ingenierías. Accede como: Coordinador, maestro o estudiante.</h3>
</div>

{{/sidebar}}