{{#> sidebar }}
<input type="hidden" id="alumnoMatricula" value={{matricula}}>
<h1>{{title}}</h1>
<table class="table table-bordered table-dark">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Inicio</th>
      <th scope="col">Clase</th>
      <th scope="col">Aula</th>
      <th scope="col">Duración (Semanas)</th>
      <th scope="col">Duración (Horas)</th>
    </tr>
  </thead>
  <tbody id="semestres-container">
  </tbody>
</table>

<script>
  const aulas = ["Aula 1 Ing (CTA)", "Aula 2 Ing (CTA)", "Aula Soluciones Digitales 4 (CTA)", "Aula Soluciones Digitales 3 (CTA)", "Aula 1 (CIP)", "Aula 2 (CIP)", "Aula 3 (CIP)", "Aula 4 (CIP)", "Aula 5 (CIP)", "Taller 1 (CIP)"];

  const matContainer = document.getElementById("alumnoMatricula").value;

  console.log(matContainer);

  fetch(`/horario-maestro/${matContainer}`)
  .then((res) => {
    return res.json();
  })
  .then((data) => {
    console.log(data.horario);

    let html = "";

    for (let i = 0; i < data.horario.length; i++) {
      html += `
        <tr>
          <th class="bg-success" scope="row">${(new Date(data.horario[i].date).toLocaleString())}</th>
          <td class="bg-success">${data.horario[i].class}</td>
          <td class="bg-success">${aulas[data.horario[i].room - 1]}</td>
          <td class="bg-success">${data.horario[i].weeks}</td>
          <td class="bg-success">${data.horario[i].hours}</td>
        </tr>
      `;
    }

    const container = document.getElementById("semestres-container");
    container.innerHTML = html;
  })
  .catch((err) => {
    console.log(err);
  });

</script>

{{/sidebar}}