{{#> sidebar }}
<h1>{{title}}</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Area</th>
      <th scope="col">Maestria/Doctorado</th>
      <th scope="col">Experiencia (Años)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Israel Jimenez</td>
      <th scope="row">Humanidades</th>
      <td>Docencia superior</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
{{/sidebar}}