{{#> sidebar }}
<h1>{{title}}</h1>
<div class="table-responsive">
<table class="table table-bordered table-dark">
  <thead class="thead-dark">
    <tr >
      <th scope="col">Nombre</th>
      <th scope="col">Area</th>
      <th scope="col">Maestria/Doctorado</th>
      <th scope="col">Experiencia (Años)</th>
    </tr>
  </thead>
  <tbody>
    <tr id="perfiles-table">
      <td>Israel Jimenez</td>
      <th scope="row">Humanidades</th>
      <td>Docencia superior</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

<script>
  fetch("/perfiles")
  .then((res) => {
    return res.json();
  })
  .then((data) => {
    const pathSeparated = location.pathname.split("/");

    let perfil = null;
    let html = "";

    for (let i = 0; i < data.perfiles.length; i++) {
      const name = data.perfiles[i].nombre.toLowerCase().replaceAll(" ", "-");

      if (name == pathSeparated[pathSeparated.length - 1]) {
        perfil = data.perfiles[i];
        break;
      }
    }

    html += `
      <td class="bg-success" >${perfil.nombre}</td>
      <th class="bg-success" scope="row">${perfil.area}</th>
      <td class="bg-success">${perfil.maestria}</td>
      <td class="bg-success">${perfil.experiencia}</td>
    `;
    const table = document.getElementById("perfiles-table");
    table.innerHTML = html
  })
  .catch((err) => {
    console.log(err);
  });

</script>

{{/sidebar}}