{{#> sidebar }}
<h1>{{title}}</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Horario</th>
      <th scope="col">Clase</th>
      <th scope="col">Carrera</th>
      <th scope="col">Aula</th>
      <th scope="col">Duración</th>
      <th scope="col">Inicio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2:00-3:00</th>
      <td>Simulación de recursoss digitales</td>
      <td>ISC</td>
      <td>1</td>
      <td>12 semanas</td>
      <td>13 septiembre</td>
    </tr>
    <tr>
      <th scope="row">3:00-5:00</th>
      <td>Diseño de centros de información</td>
      <td>ISA</td>
      <td>2</td>
      <td>6 semanas</td>
      <td>2 octubre</td>
    </tr>
    <tr>
      <th scope="row">5:00-7:00</th>
      <td>Protocolos de comunicación</td>
      <td>IIS</td>
      <td>3</td>
      <td>6 semanas</td>
      <td>10 marzo</td>
    </tr>
  </tbody>
</table>
{{/sidebar}}